header {
    background-color: #E3D4AD;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: #E3D4AD;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post {
    border-radius: 50%;
}

body {
    font-family: 'Gaegu', cursive;
}

a.photo:hover{
    transition: padding 0.5s;
}

a.photo:hover{
    padding: 10px;
}